@{
    ViewBag.Title = "Contact Management";
}

<h2>Contact Management</h2>

<p>
    <!-- Button to show all contacts -->
    @Html.ActionLink("Show All Contacts", "ShowContacts", null, new { @class = "btn btn-primary", role = "button" })
</p>

<p>
    <!-- Button to create a new contact -->
    @Html.ActionLink("Create a New Contact", "Create", null, new { @class = "btn btn-success", role = "button" })
</p>

<p>
    <!-- Button to show all payments -->
    @Html.ActionLink("Show All Payments", "ShowPayments", "Payout", null, new { @class = "btn btn-warning", role = "button" })

</p>

<p>
    <!-- Form to search contact by email -->
    @using (Html.BeginForm("SearchByEmail", "Contact", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="form-group">
            <label for="email">Search by Email:</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Enter email" required />
            <button type="submit" class="btn btn-info">Search</button>
        </div>
    }
</p>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}